{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Bienvenido a la app</h1>
    <p>Bienvenido a esta app creada con el fin de cumplir con la responsabilidad de la gestion del inventario para el ministerio del poder popular de obras publicas (MPPOP) cumpliendo con el servicio comunitario del estudiante Richard Aleman requisito para reclamar el titulo de ingeniero de sistemas de la Universidad Santa Maria (USM) para usar esta aplicacion por favor registre un usuario o inicie sesion para continuar.</p>
        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">
                Login
            </a>
            <a class="btn btn-primary" href="/signup/">
                Signup
            </a>
        </div>
    </section>

</main>
{% endblock %}