{% extends 'base.html' %}

{% block content %}
<main class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <h1>Actualizar Datos</h1>
{{error}}
<form method="POST">
  {% csrf_token %}
  
  {{form.as_p}}
<p>Fecha de creacion: {{task.Creado}}</p>
  <button class="btn btn-primary">
      Actualizar
  </button>
</form>
<div class="mt-5 d-flex">
  

<form action="{% url 'delete_task' task.id %}" method="POST">
  {% csrf_token %}
  
  <button class="btn btn-danger">
      Borrar
  </button>
</form>
</div>
    </div>
  </div>
</main>
{% endblock %}